// -----------------------------------------------------------------------------
// 		OVERRIDE
// 		This file contains all styles to override existing styles
// 		Please do use it rarely
// -----------------------------------------------------------------------------

div {
	&.course-form {
		background-color: #E0E0E0;
	}
}

.breadcrumb-container {
	position: absolute;
	width: 100%;
	z-index: 2;
	.breadcrumb {
		font-weight: $font-weight-bold;
		color: $color-white;
		span {
			font-weight: $font-weight;
			color: $color-white;
		}
	}
	
}