// -----------------------------------------------------------------------------
// 		Seventh row : LIFE AROUND THE SCHOOL
// -----------------------------------------------------------------------------

.node-school {
	.field-item {
		.activity-wrap {
			.activity {
				.section-body {
					.featured {
						@media #{$xs-max} {
							padding-left: 10px;
							padding-right: 10px;
						}
						.flex-item {
							margin-bottom: 1em;
							padding: 5px;
							flex: 0 0 50%;
							max-width: 50%;
							@media #{$sm-min} {
								padding: 15px;
								flex: 0 0 33.33333333%;
								max-width: 33.33333333%;
							}

							.activity-item {
								position: relative;

								.day-of-week {
									display: block;
									position: absolute;
									z-index: 1;
									top: 0;
									left: 0;
									padding: 0 10px 5px 0;
									font-size: 10px;
									font-weight: $font-weight-bold;
									background-color: $color-white;
									color: $color-primary-w80;
									text-transform: uppercase;
									@media #{$sm-min} {
										padding: 0 15px 10px 0;
										font-size: 12px;
									}
								}
								.image {
									@include aspect-ratio(2,1);
									margin-bottom: 0.25em;
									overflow: hidden;
									.image-inner {
										position: absolute;
										width: 100%;
										height: 100%;
										img {
											position: absolute;
											top: 50%;
											left: 50%;
											@include transform( translate(-50%,-50%) );
										}
									}
								}
								.desc {
									font-size: 13px;
									@media #{$sm-min} {
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}