// -----------------------------------------------------------------------------
// 		Fourth row : AVAILABLE COURSES
// -----------------------------------------------------------------------------

.node-school {
	.field-item {
		.course-wrap {
			background: #F0F0F0;
			padding-bottom: 0;

			.course {
				.section-head {

				}
				.section-body {
					.flex-items {
						margin-left: -15px;
						margin-right: -15px;

						@media #{$sm-min} {
							&.five-course-types,
							&.six-course-types {
								justify-content: center;
								.flex-item {
									flex: 0 0 33.33333333%;
									max-width: 33.33333333%;
								}
							}
						}

						.flex-item {
							display: flex;
							position: relative;
							text-align: center;
							padding: 5px 15px;
							flex: 0 0 100%;
							max-width: 100%;
							align-self: stretch;

							@media #{$sm-min} {
								flex: 0 0 50%;
								max-width: 50%;
								padding: 0.75%;
							}
							@media #{$md-min} {
								flex: 1%;
								max-width: none;
								padding: 0.75%;
							}

							.item-inner {
								position: relative;
								width: 100%;
								padding: 15px;
								padding-bottom: 70px;
								text-align: left;
								-webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.025);
								-moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.025);
								box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.025);
								background-color: #F0F0F0;

								@media #{$sm-min} {
									background-color: #FFFFFF;
								}

								.icon-container {
									float: left;
									font-size: 36px;
									margin: 0 6px 0 0;
									color: #404040;

									@media #{$sm-min} {
										float: none;
										font-size: 48px;
									}
								}

								.text-container {
									overflow: hidden;
									padding-top: 6px;

									.title {
										vertical-align: middle;
										font-weight: 700;
										line-height: 1.1em;
										margin-bottom: 0.25em;
										text-transform: uppercase;
										color: #202020;
										overflow: hidden;
										font-size: 16px;

										@media #{$md-min} {
											font-size: 18px;
										}
										@media #{$lg-min} {
											font-size: 20px;
										}
									}

									.length {
										font-style: oblique;
										font-size: 12px;

										@media #{$sm-min} {
											font-size: 13px;
										}

									}

									.desc {
										clear: both;
										padding-top: 12px;
									}
								}

								.price-items {
									padding-top: 6px;
									padding-left: 42px;
									@media #{$sm-min} {
										padding-left: 0;
									}
									.price-show {
										font-size: 13px;
										text-decoration: none;
										border-bottom: 1px solid #007DB3;
									}
									.one-price {
										ul.course-items {
											margin-top: 8px;
											margin-bottom: -1px;
											li.course-item {
												border-bottom: none;
											}
										}
									}
									ul.course-items {
										margin: 0;
										padding: 0;
										list-style: none;
										li.course-item {
											position: relative;
											margin: 0 ;
											padding: 0;
											border-bottom: 1px solid #DDDDDD;
											&:first-child {
												border-top: 1px solid #DDDDDD;
											}
											a {
												display: block;
												position: relative;
												margin: 0 -15px;
												padding: 6px 35px 6px 15px;
												font-size: 13px;
												color: #404040;
												text-decoration: none;
												
												&:after {
													font-family: 'kie';
													content: "\e9b6";
													position: absolute;
													top: 50%;
													right: 15px;
													width: 20px;
													height: 20px;
													margin-top: -10px;
													text-align: center;
												}
												.coursename {
													display: block;
													line-height: 1.1;
													margin-bottom: 3px;
												}
											}
											&:hover {
												z-index: 2;
												transition: all 0.2s ease-out;
												a {
													background-color: #007DB3;
													color: #FFFFFF;
													&:after {
														color: #FFFFFF;
													}
												}
											}
										}
									}
								}

								.btn-container {
									position: absolute;
									width: 100%;
									left: 0;
									bottom: 0;
									padding: 15px;
									@media #{$xs-max} {
										padding-left: 57px;
									}

									.btn {
										width: 100%;
										font-size: 13px;
										background-color: transparent;
										border: 1px solid #007DB3;
										color: #007DB3;

										@media #{$sm-min} {
											&:hover {
												color: #FFFFFF;
												border: 1px solid #007DB3;
												background-color: #007DB3;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

