// -----------------------------------------------------------------------------
// 		Fourth row : AVAILABLE COURSES
// -----------------------------------------------------------------------------

.node-school {
	.field-item {
		.course-wrap {
			background: #EEEEEE;
			padding-bottom: 0;

			.course {
				.section-head {

				}
				.section-body {
					.flex-items {
						margin-left: -15px;
						margin-right: -15px;

						.flex-item {
							display: block;
							position: relative;
							text-align: center;
							padding: 15px;

							.item-inner {
								position: relative;
								height: 100%;
								padding: 7%;
								padding-bottom: 80px;
								text-align: left;
								background-color: #FFFFFF;
								-webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.025);
								-moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.025);
								box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.025);

								.title {
									vertical-align: middle;
									font-weight: 700;
									font-size: 20px;
									line-height: 1.1em;
									margin-bottom: 0.25em;
									text-transform: uppercase;
									color: #202020;
									overflow: hidden;
								}

								.desc {
									clear: both;
									padding-top: 12px;
								}

								.btn-container {
									position: absolute;
									width: 100%;
									left: 0;
									bottom: 0;
									padding: 15px;

									.btn {
										width: 100%;
										font-size: 13px;
										background-color: transparent;
										border: 1px solid #007DB3;
										color: #007DB3;

										&:hover {
											color: #FFFFFF;
											border: 1px solid #007DB3;
										}

										&:before {
											background-color: #007DB3;
										}
									}
								}
							}
						}
					}

					// Testimonial
					.student_testimonial {
						z-index: 1;
						margin-top: 4%;

						&:before,
						&:after {
							content: " ";
							display: block;
							position: absolute;
							width: 100%;
							height: 50%;
							z-index: -1;
						}
						&:before {
							background-color: #EEEEEE;
							top: 0;
						}
						&:after {
							background-color: #FFFFFF;
							bottom: 0;
						}

						.testimonial-item {
							padding: 4%;
							background-color: #503F8B;
							background-image: url(http://stge-assetlibs.kaplaninternational.com/kidrupal/www/en/course/testimonial-bg.jpg);
							box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);

							@media #{$xs-max} {
								padding: 20px;
								width: auto;
								margin: 0 -15px;
							}

							.image {
								float: left;
								width: 60px;
								height: 60px;
								margin: 0 10px 0 0;
								-webkit-border-radius: 50%;
								-moz-border-radius: 50%;
								border-radius: 50%;
								overflow: hidden;

								@media #{$sm-min} {
									width: 74px;
									height: 74px;
									margin: 0 20px 0 0;
								}

								@media #{$md-min} {
									width: 92px;
									height: 92px;
								}

								img {
									width: 100%;
								}
							}

							.desc {
								color: #FFFFFF;
								overflow: hidden;
								.testimonial {
									font-size: 14px;
									font-style: italic;

									@media #{$md-min} {
										font-size: 16px;
									}
								}
								hr {
									width: 60px;
									margin: 10px auto 10px 0;
									border-color: rgba(255,255,255,0.5);
								}
								.profile {
									position: relative;
									.name {
										font-size: 11px;
										text-transform: uppercase;
									}
									.school {
										font-size: 11px;
									}
									@media #{$sm-min} {
										.name {
											font-size: 13px;
										}
										.school {
											font-size: 12px;
										}
									}
								}
							}							
						}
					}
				}
			}
		}
	}
}

