// -----------------------------------------------------------------------------
// 		Second row : OVERVIEW
// -----------------------------------------------------------------------------

.node-school {
	.field-item {
		.overview-wrap {
			background: #f0f0f0;
			background: -moz-linear-gradient(top,  #f0f0f0 0%, #ffffff 100%);
			background: -webkit-linear-gradient(top,  #f0f0f0 0%,#ffffff 100%);
			background: linear-gradient(to bottom,  #f0f0f0 0%,#ffffff 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 );

			.overview {
				.section-head {

				}
				.section-body {
					.flex-items {
						align-items: center;
						@media #{$sm-min} {
							-webkit-box-orient: horizontal;
							-webkit-box-direction: reverse;
							-ms-flex-direction: row-reverse;
							flex-direction: row-reverse;
						}
						.flex-item {
							flex: 0 0 100%;
							max-width: 100%;
							padding: 0 15px;
							@media #{$sm-min} {
								flex: 0 0 50%;
								max-width: 50%;

							}

							.feature {
								@media #{$md-min} {
									padding-right: 5%;
								}
								ul {
									list-style: none;
									li {
										&:before {
											content: '●';
											position: relative;
											display: inline-block;
											height: 0;
											width: 0;
											color: $color-secondary-bluegreen;
											top: 2px;
											left: -18px;
										}
									}
								}
							}
							.cta-container {
								text-align: left;
								@media #{$sm-min} {
									padding-left: 20px;
								}								
							}
							.video-wrapper {
								padding: 10px 0;
								@media #{$xs-max} {
									margin-left: -15px;
									margin-right: -15px;
								}
								.video {
									.wistia_responsive_padding {
										padding-top: 56.25%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}










// .node-type-school .field-name-field-course-cta {
//     margin-top: 2.4em;
//     padding-top: 1em;
//     border-top: 1px solid #ddd
// }

// .node-type-school .field-name-field-course-cta a {
//     display: block;
//     text-align: center
// }

// .node-type-school .field-name-field-course-cta a.btn {
//     padding: 14px 8px;
//     margin-top: 3px;
//     margin-bottom: 12px
// }

// .node-type-school .field-name-field-course-cta a.btn-default {
//     background-color: #007db3;
//     font-size: 16px;
//     font-weight: 800
// }

// .node-type-school .field-name-field-course-cta a.btn-default:hover {
//     background-color: #0a5e85
// }

// .node-type-school .field-name-field-course-cta a.btn-default span {
//     font-size: 10px;
//     font-weight: $font-weight
// }

// .node-type-school .field-name-field-course-cta a.btn-text {
//     font-weight: 600;
//     text-transform: uppercase;
//     text-decoration: underline;
//     color: #1b73bb;
//     clear: left;
//     position: relative;
//     top: -12px
// }

// .node-type-school .field-name-field-course-cta a.btn-text-plain {
//     display: inline-block;
//     vertical-align: top;
//     line-height: inherit;
//     background-color: transparent;
//     border: none;
//     text-decoration: underline;
//     color: #fff;
//     cursor: none;
//     text-align: left;
//     text-decoration: none;
//     text-transform: none;
//     color: #1b73bb
// }

// .node-type-school .field-name-field-course-cta a.btn-text-plain:hover,
// .node-type-school .field-name-field-course-cta a.btn-text-plain:focus,
// .node-type-school .field-name-field-course-cta a.btn-text-plain.focus {
//     background-color: transparent;
//     border: none;
//     box-shadow: none;
//     text-decoration: underline;
//     color: #00a5d9
// }

// .node-type-school .field-name-field-course-cta a.btn-text-plain span {
//     font-weight: $font-weight-bold
// }

// @media(max-width:767px) {
//     .node-type-school .field-name-field-course-cta a {
//         margin-right: 0
//     }
//     .language-dir-rtl.node-type-school .field-name-field-course-cta a {
//         margin-left: 0;
//         margin-right: inherit
//     }
//     .node-type-school .field-name-field-course-cta a.btn-text-plain {
//         text-align: center
//     }
// }

// @media(min-width:768px) {
//     .node-type-school .field-name-field-course-cta a {
//         display: block;
//         float: left;
//         width: 47%;
//         margin-right: 10px
//     }
//     .language-dir-rtl.node-type-school .field-name-field-course-cta a {
//         float: right;
//         margin-left: 10px;
//         margin-right: inherit
//     }
// }