/* -----------------------------------------------------------------------------
	BASE for New School Page
----------------------------------------------------------------------------- */
// .collapse {
// 	display: block;
// }
.title-container,
.table-of-contents-container {
	display: none;
}

.node-school {
	&.view-mode-full {
		padding: 0 15px;
		margin: 0;

		.ds-row {
			padding: 0;
			margin: 0;
		}

		.nopadding {
			padding-top: 0;
			padding-bottom: 0;
		}
		
	}

	.row-eq-height {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;

		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		
		-ms-flex-pack: distribute;
		-webkit-justify-content: space-around;
		justify-content: space-around;

		margin-left: -15px;
		margin-right: -15px;
	}	

	.field-item {
		.section-content {
			border-top: 1px solid rgba(0,0,0,0.05);
			border-width: 1px 0 0;
			border-style: solid;
			-webkit-border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, 0))) 2%;
			-webkit-border-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 100%) 2%;
			-o-border-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 100%) 2%;
			border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, 0))) 2%;
			border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 100%) 2%;

			@media #{$xs-max} {
				padding: 30px 0;
			}
			@media #{$sm-min} {
				padding: 5% 0;
			}

			&.hero-wrap, &.overview-wrap {
				border: none;
			}

			p,
			ul,
			ol {
				margin-bottom: 1.2em;
			}
			li {
				padding-right: 0;
				margin-bottom: 0.4em;
			}

			h2,
			h3,
			h4,
			h5 {
				line-height: 1.1em;
			}

			.btn {
				background-color: $color-secondary-bluegreen;
			}
			.section-head {
				text-align: center;
				padding-bottom: 10px;

				h2.title {
					color: $color-grey-l;
					font-weight: $font-weight-bold;
					text-transform: uppercase;
					text-align: center;
					margin-bottom: 0.5em;
					font-size: 24px;
					@media #{$sm-min} { font-size: 26px; }
					@media #{$md-min} { font-size: 28px; }
					@media #{$lg-min} { font-size: 32px; }

					.m-title {
						display: block;
						text-align: left;
					}
				}

				.desc {
					max-width: 860px;
					margin-left: auto;
					margin-right: auto;
					color: $color-grey-j;
					font-size: 14px;
					@media #{$sm-min} { font-size: 16px; }
					@media #{$md-min} { font-size: 18px; }
				}
			}

			.section-body {
				.collapsible-item {
					padding-top: 15px;
					padding-bottom: 15px;

					@media #{$sm-min} {
						display: block;
						padding: 0;
					}
				}
			}

			@media #{$xs-max} {
				&.m-collapsible {
					background: $color-white;
					padding: 0;
					border-image: none;
					border-top: 1px solid $color-grey-e;
					.section-head {
						padding: 0;
						h2.title {
							padding: 0;
							margin: 0;
							
							a {
								position: relative;
								margin: 0 -15px;
								padding: 25px 15px;
								text-align: center;
								font-size: 16px;
								line-height: 1.1em;
								color: $color-grey-l;
								background-color: #D3CFE2;

								&:hover, &:focus {
									text-decoration: none;
								}

								&:before {
									content: "\e683";
									font-family: 'kie';
									position: absolute;
									bottom: -14px;
									left: calc(100% - 43px);
									width: 28px;
									height: 28px;
									line-height: 28px;
									text-align: center;
									font-size: 14px;
									color: $color-white;
									background-color: #7C6FA8;
									transform: rotate(180deg);
									transition: all 0.3s ease;
									border-radius: 50%;
								}
								&.collapsed {
									color: $color-white;
									background-color: $color-primary-w80;
									padding: 15px 15px 30px 15px;

									&:before {
										bottom: 2px;
										left: calc(50% - 14px);
										transform: rotate(0deg);
										background-color: transparent;
										color: rgba(255,255,255,0.6);
									}
								}
							}
						}
					}
				}
			}

			.cta-container {
				margin: 1em 0;
				text-align: center;

				a {
					display: inline-block;

					&.btn {
						min-width: 290px;
						padding: 14px 8px;
						background-color: $color-secondary-bluegreen;
						margin-top: 3px;
						margin-bottom: 12px;
						line-height: 1.1;
						.btn-label {
							padding: 0 0 6px 0;
							font-size: 16px;
							font-weight: $font-weight-bold;
						}
						.btn-sub {
							font-size: 10px;
							font-weight: $font-weight;
						}
					}
					&.text {
						font-weight: 600;
						text-transform: uppercase;
						text-decoration: underline;
					}
				}
				
			}
		}
	}
}
