// -----------------------------------------------------------------------------
// 		Eighth row : ACCOMMODATION
// -----------------------------------------------------------------------------

.node-school {
	.field-item {
		.accommodation-wrap {
			background: $color-grey-c;

			.accommodation {
				.section-body {
					.flex-items {

						.flex-item {
							flex: 0 0 100%;
							max-width: 100%;
							padding: 5px 15px;
							display: flex;
							align-items: stretch;

							@media #{$sm-min} {
								flex: 0 0 50%;
								max-width: 50%;
								padding: 15px;
							}

							.item-inner {
								flex: 1;
								background-color: $color-grey-c;
								position: relative;
								padding-bottom: 60px;
								box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.025);

								@media #{$sm-min} {
									background-color: $color-white;
								}

								.image {
									margin-bottom: 1.25em;
								}
								.desc {
									padding-left: 7%;
									padding-right: 7%;

									h3.title {
										line-height: 1.1em;
										margin-bottom: 0.75em;
										text-transform: uppercase;
										color: $color-grey-l;
										overflow: hidden;
										padding-bottom: 6px;
										border-bottom: 1px dotted #ccc;
										a {
											display: block;
											color: $color-grey-l;
											text-decoration: none;
											font-size: 16px;
											@media #{$md-min} {
												font-size: 20px;
											}
											&:hover, &:focus {
												color: $color-secondary-bluegreen;
											}
										}
									}
								}
								.btn-container {
									position: absolute;
									width: 100%;
									left: 0;
									bottom: 0;
									padding: 15px;
									text-align: center;
									.btn {
										width: 100%;
										font-size: 13px;
										@media #{$sm-min} {
											max-width: 200px;

											&:hover {
												color: $color-white;
												border: 1px solid $color-primary;
												background-color: $color-primary;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}