// -----------------------------------------------------------------------------
// 		Sixth row : STUDENTS IN THE SCHOOL
// -----------------------------------------------------------------------------

.node-school {
	.field-item {
		.students-wrap {
			background: #F0F0F0;

			.students {
				.section-head {

				}
				.section-body {
					.flex-items {

						&.figures {
							.flex-item {
								text-align: center;
								padding: 10px 5px;
								flex: 0 0 50%;
								max-width: 50%;

								@media #{$sm-min} {
									padding: 15px;
									flex: 0 0 20%;
									max-width: 20%;
								}

								.item-inner {

									.icon-container {
										font-size: 60px;
										text-align: center;
										margin-bottom: 10px;
										color: #007DB3;
									}
									.desc {
										font-size: 13px;
										@media #{$sm-min} {
											font-size: 14px;
										}
										.figure {
											display: block;
											font-size: 18px;
											color: #202020;
											font-weight: 600;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}