// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/* Inherit from KIE Drupal */

a {
	// Sliding effect on mousehover
	&.btn-slide {
		position: relative;
		z-index: 1;
		font-weight: 700;
		
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background-color: #240F6E;
			transition: width .3s;
		}
		@media #{$md-min} {
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}
