// // -----------------------------------------------------------------------------
// // This file contains all @font-face declarations, if any.
// // -----------------------------------------------------------------------------

// -------------------------
// BASIC FONT
/* Inherit from KIE Drupal */


// -------------------------
// SECONDARY FONT
/* Inherit from KIE Drupal */


// -------------------------
// ICON FONT



@font-face {
	font-family: 'kie';
	src: url('../fonts/kie.eot?h828c4');
	src: url('../fonts/kie.eot?h828c4#iefix') format('embedded-opentype'), url('../fonts/kie.woff2?h828c4') format('woff2'), url('../fonts/kie.ttf?h828c4') format('truetype'), url('../fonts/kie.woff?h828c4') format('woff'), url('../fonts/kie.svg?h828c4#kie') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {

	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'kie' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;  /* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga";
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;  /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-course-type-flexible:before {
	content: "\e926";
}

.icon-course-type-semester:before {
	content: "\e927";
}

.icon-course-type-professional:before {
	content: "\e928";
}

.icon-course-type-exam:before {
	content: "\e929";
}

.icon-course-type-workstudy:before {
	content: "\e92a";
}

.icon-course-type-teaching:before {
	content: "\e92c";
}

.icon-school-year-of-found:before {
	content: "\e923";
}

.icon-school-buildings:before {
	content: "\e907";
}

.icon-school-floors:before {
	content: "\e908";
}

.icon-school-classrooms:before {
	content: "\e909";
}

.icon-school-computers:before {
	content: "\e90b";
}

.icon-school-ups:before {
	content: "\e930";
}

.icon-school-computer-lab:before {
	content: "\e90c";
}

.icon-school-wifi:before {
	content: "\e90d";
}

.icon-school-wheelchair-access:before {
	content: "\e90e";
}

.icon-school-library:before {
	content: "\e90f";
}

.icon-school-cafeteria:before {
	content: "\e910";
}

.icon-school-study-center:before {
	content: "\e911";
}

.icon-school-elevator:before {
	content: "\e912";
}

.icon-school-parking:before {
	content: "\e913";
}

.icon-school-swimming-pool:before {
	content: "\e914";
}

.icon-school-gym:before {
	content: "\e915";
}

.icon-school-sports:before {
	content: "\e916";
}

.icon-school-air-condition:before {
	content: "\e917";
}

.icon-school-heating:before {
	content: "\e918";
}

.icon-school-lounge:before {
	content: "\e919";
}

.icon-school-game-room:before {
	content: "\e91a";
}

.icon-school-vending-machine:before {
	content: "\e91b";
}

.icon-school-garden:before {
	content: "\e91c";
}

.icon-school-terrace-patio:before {
	content: "\e91d";
}

.icon-school-prayer-room:before {
	content: "\e91e";
}

.icon-school-school-bus:before {
	content: "\e920";
}

.icon-school-total-students:before {
	content: "\e921";
}

.icon-school-students-per-class:before {
	content: "\e922";
}

.icon-school-student-average-age:before {
	content: "\e924";
}

.icon-school-min-student-age:before {
	content: "\e925";
}

.icon-school-nationalities:before {
	content: "\e92e";
}

.icon-school-recommendation:before {
	content: "\e92f";
}

.icon-ki-englishdestination:before {
	content: "\e906";
}

.icon-ki-englishcourse:before {
	content: "\e904";
}

.icon-ki-englishdate:before {
	content: "\e905";
}

.icon-ki-home:before {
	content: "\e972";
}

.icon-ki-email:before {
	content: "\e62b";
}

.icon-ki-contact:before {
	content: "\e91f";
}

.icon-ki-subscription:before {
	content: "\e997";
}

.icon-ki-brochure:before {
	content: "\e68d";
}

.icon-ki-download:before {
	content: "\e903";
}

.icon-ki-faci-phone:before {
	content: "\e64a";
}

.icon-ki-phone:before {
	content: "\e66b";
}

.icon-ki-plus:before {
	content: "\e985";
}

.icon-ki-minus:before {
	content: "\e668";
}

.icon-ki-close:before {
	content: "\e617";
}

.icon-ki-search:before {
	content: "\e678";
}

.icon-ki-act-art:before {
	content: "\e600";
}

.icon-ki-act-citybreak:before {
	content: "\e601";
}

.icon-ki-act-fun:before {
	content: "\e602";
}

.icon-ki-act-history:before {
	content: "\e603";
}

.icon-ki-act-nature:before {
	content: "\e604";
}

.icon-ki-act-nightlife:before {
	content: "\e605";
}

.icon-ki-act-outdoor:before {
	content: "\e606";
}

.icon-ki-act-restaurant:before {
	content: "\e607";
}

.icon-ki-act-shopping:before {
	content: "\e608";
}

.icon-ki-act-sports:before {
	content: "\e609";
}

.icon-ki-act-yl-art:before {
	content: "\e60a";
}

.icon-ki-act-yl-beach:before {
	content: "\e60b";
}

.icon-ki-act-yl-party:before {
	content: "\e60c";
}

.icon-ki-act-yl-stadium:before {
	content: "\e60d";
}

.icon-ki-act-yl-travel:before {
	content: "\e60e";
}

.icon-ki-calculator:before {
	content: "\e90a";
}

.icon-ki-getaquote:before {
	content: "\e901";
}

.icon-ki-calendar:before {
	content: "\e614";
}

.icon-ki-clock:before {
	content: "\e616";
}

.icon-ki-country-au:before {
	content: "\e618";
}

.icon-ki-country-ca:before {
	content: "\e619";
}

.icon-ki-country-ie:before {
	content: "\e61a";
}

.icon-ki-country-mt:before {
	content: "\e61b";
}

.icon-ki-country-nz:before {
	content: "\e61c";
}

.icon-ki-country-si:before {
	content: "\e61d";
}

.icon-ki-country-uk:before {
	content: "\e61e";
}

.icon-ki-country-us:before {
	content: "\e61f";
}

.icon-ki-world:before {
	content: "\e9ae";
}

.icon-ki-course:before {
	content: "\e620";
}

.icon-ki-cta-location:before {
	content: "\e621";
}

.icon-ki-cta-photo:before {
	content: "\e622";
}

.icon-ki-cta-photoview:before {
	content: "\e92b";
}

.icon-ki-cta-video:before {
	content: "\e623";
}

.icon-ki-cta-videoplay:before {
	content: "\e92d";
}

.icon-ki-videoplay:before {
	content: "\e681";
}

.icon-ki-desti-beach:before {
	content: "\e624";
}

.icon-ki-desti-campus:before {
	content: "\e625";
}

.icon-ki-desti-city:before {
	content: "\e626";
}

.icon-ki-desti-towncopy:before {
	content: "\e627";
}

.icon-ki-desti-town:before {
	content: "\e628";
}

.icon-ki-destination:before {
	content: "\e629";
}

.icon-ki-document:before {
	content: "\e62a";
}

.icon-ki-cv:before {
	content: "\e9b4";
}

.icon-ki-eng-certificate:before {
	content: "\e62c";
}

.icon-ki-career:before {
	content: "\e9b3";
}

.icon-ki-eng-competence:before {
	content: "\e62d";
}

.icon-ki-eng-kplus:before {
	content: "\e62e";
}

.icon-ki-eng-young-learner:before {
	content: "\e630";
}

.icon-ki-eng-test:before {
	content: "\e62f";
}

.icon-ki-eng-speaking:before {
	content: "\e9b7";
}

.icon-ki-engtest-gv:before {
	content: "\e631";
}

.icon-ki-engtest-lc:before {
	content: "\e632";
}

.icon-ki-engtest-rc:before {
	content: "\e633";
}

.icon-ki-faci-aircon:before {
	content: "\e635";
}

.icon-ki-faci-art:before {
	content: "\e636";
}

.icon-ki-faci-bbq:before {
	content: "\e637";
}

.icon-ki-faci-bike:before {
	content: "\e638";
}

.icon-ki-faci-bikestorage:before {
	content: "\e639";
}

.icon-ki-faci-cafe:before {
	content: "\e63a";
}

.icon-ki-faci-campus:before {
	content: "\e63b";
}

.icon-ki-faci-classroom:before {
	content: "\e63c";
}

.icon-ki-faci-computer:before {
	content: "\e63d";
}

.icon-ki-faci-disability:before {
	content: "\e63e";
}

.icon-ki-faci-exam:before {
	content: "\e63f";
}

.icon-ki-faci-family:before {
	content: "\e94c";
}

.icon-ki-faci-gameroom:before {
	content: "\e640";
}

.icon-ki-faci-garden:before {
	content: "\e641";
}

.icon-ki-faci-guest:before {
	content: "\e642";
}

.icon-ki-faci-gym:before {
	content: "\e643";
}

.icon-ki-faci-kitchen:before {
	content: "\e644";
}

.icon-ki-faci-laundry:before {
	content: "\e645";
}

.icon-ki-faci-library:before {
	content: "\e646";
}

.icon-ki-faci-linen:before {
	content: "\e647";
}

.icon-ki-faci-lounge:before {
	content: "\e648";
}

.icon-ki-faci-meal:before {
	content: "\e649";
}

.icon-ki-faci-pool:before {
	content: "\e64b";
}

.icon-ki-faci-privatebath:before {
	content: "\e64c";
}

.icon-ki-faci-privateroom:before {
	content: "\e64d";
}

.icon-ki-faci-security:before {
	content: "\e64e";
}

.icon-ki-faci-sharebath:before {
	content: "\e64f";
}

.icon-ki-faci-sports:before {
	content: "\e650";
}

.icon-ki-faci-study:before {
	content: "\e651";
}

.icon-ki-faci-surf:before {
	content: "\e652";
}

.icon-ki-faci-tennis:before {
	content: "\e653";
}

.icon-ki-faci-theatre:before {
	content: "\e654";
}

.icon-ki-faci-towel:before {
	content: "\e655";
}

.icon-ki-faci-views:before {
	content: "\e656";
}

.icon-ki-faci-whiteboard:before {
	content: "\e657";
}

.icon-ki-faci-wifi:before {
	content: "\e658";
}

.icon-ki-faq-accommodation:before {
	content: "\e659";
}

.icon-ki-faq-booking:before {
	content: "\e65a";
}

.icon-ki-faq-complaint:before {
	content: "\e65b";
}

.icon-ki-faq-course:before {
	content: "\e65c";
}

.icon-ki-faq-general:before {
	content: "\e65d";
}

.icon-ki-faq-health:before {
	content: "\e65e";
}

.icon-ki-faq-highschool:before {
	content: "\e660";
}

.icon-ki-faq-payment:before {
	content: "\e65f";
}

.icon-ki-help:before {
	content: "\e68e";
}

.icon-ki-installment:before {
	content: "\e664";
}

.icon-ki-l-calendar:before {
	content: "\e976";
}

.icon-ki-l-comment:before {
	content: "\e977";
}

.icon-ki-l-like:before {
	content: "\e978";
}

.icon-ki-l-profile:before {
	content: "\e979";
}

.icon-ki-good:before {
	content: "\e661";
}

.icon-ki-bad:before {
	content: "\e613";
}

.icon-ki-like:before {
	content: "\e665";
}

.icon-ki-link:before {
	content: "\e666";
}

.icon-ki-livechat:before {
	content: "\e97e";
}

.icon-ki-member:before {
	content: "\e667";
}

.icon-ki-progress:before {
	content: "\e986";
}

.icon-ki-promo-free:before {
	content: "\e987";
}

.icon-ki-promo-percent:before {
	content: "\e66f";
}

.icon-ki-promo-price:before {
	content: "\e670";
}

.icon-ki-qualification:before {
	content: "\e98a";
}

.icon-ki-star:before {
	content: "\e679";
}

.icon-ki-question:before {
	content: "\e671";
}

.icon-ki-students:before {
	content: "\e996";
}

.icon-ki-testimonial:before {
	content: "\e67a";
}

.icon-ki-radio-on:before {
	content: "\e673";
}

.icon-ki-radio-off:before {
	content: "\e672";
}

.icon-ki-checked:before {
	content: "\e615";
}

.icon-ki-unchecked:before {
	content: "\e680";
}

.icon-ki-tick-circle:before {
	content: "\e67b";
}

.icon-ki-tick:before {
	content: "\e67c";
}

.icon-ki-tick-circleline:before {
	content: "\e902";
}

.icon-ki-trans-airplane:before {
	content: "\e99b";
}

.icon-ki-trans-bus:before {
	content: "\e67d";
}

.icon-ki-trans-car:before {
	content: "\e99d";
}

.icon-ki-trans-parking:before {
	content: "\e99e";
}

.icon-ki-trans-taxi:before {
	content: "\e67e";
}

.icon-ki-trans-train:before {
	content: "\e9a0";
}

.icon-ki-trans-tube:before {
	content: "\e9a1";
}

.icon-ki-arrow-up:before {
	content: "\e612";
}

.icon-ki-arrow-right:before {
	content: "\e611";
}

.icon-ki-arrow-down:before {
	content: "\e60f";
}

.icon-ki-arrow-left:before {
	content: "\1f315";
}

.icon-ki-carousel-left:before {
	content: "\e68b";
}

.icon-ki-carousel-right:before {
	content: "\e68c";
}

.icon-ki-carousel-left-bold:before {
	content: "\e9b5";
}

.icon-ki-carousel-right-bold:before {
	content: "\e9b6";
}

.icon-ki-carousel-square-left:before {
	content: "\e689";
}

.icon-ki-carousel-square-right:before {
	content: "\e68a";
}

.icon-ki-viewless:before {
	content: "\e682";
}

.icon-ki-viewmore:before {
	content: "\e683";
}

.icon-ki-blog:before {
	content: "\e68f";
}

.icon-ki-facebook:before {
	content: "\e634";
}

.icon-ki-twitter:before {
	content: "\e67f";
}

.icon-ki-youtube:before {
	content: "\e688";
}

.icon-ki-instagram:before {
	content: "\e663";
}

.icon-ki-googleplus:before {
	content: "\e662";
}

.icon-ki-snapchat:before {
	content: "\e900";
}

.icon-ki-pinterest:before {
	content: "\e66c";
}

.icon-ki-linkedin:before {
	content: "\e97d";
}

.icon-ki-skype:before {
	content: "\e994";
}

.icon-ki-weibo:before {
	content: "\e686";
}

.icon-ki-wechat:before {
	content: "\e685";
}

.icon-ki-youku:before {
	content: "\e687";
}

.icon-ki-vk:before {
	content: "\e684";
}

.icon-ki-naver:before {
	content: "\e66a";
}

.icon-ki-mixi:before {
	content: "\e669";
}

.icon-ki-email-share:before {
	content: "\e935";
}

.icon-ki-facebook-share:before {
	content: "\e93f";
}

.icon-ki-twitter-share:before {
	content: "\e9a2";
}

.icon-ki-youtube-share:before {
	content: "\e9b1";
}

.icon-ki-instagram-share:before {
	content: "\e973";
}

.icon-ki-googleplus-share:before {
	content: "\e96f";
}

.icon-ki-linkedin-share:before {
	content: "\e97c";
}

.icon-ki-weibo-share:before {
	content: "\e9ac";
}

.icon-ki-wechat-share:before {
	content: "\e9aa";
}

.icon-ki-youku-share:before {
	content: "\e9af";
}

.icon-ki-vk-share:before {
	content: "\e9a8";
}

.icon-ki-share:before {
	content: "\e993";
}

.icon-ki-screen-desktop:before {
	content: "\e674";
}

.icon-ki-screen-widetab:before {
	content: "\e677";
}

.icon-ki-screen-tablet:before {
	content: "\e676";
}

.icon-ki-screen-phone:before {
	content: "\e675";
}
