// -----------------------------------------------------------------------------
// Basic typography style for copy text
// -----------------------------------------------------------------------------

// Inherit from KIE Drupal


// 	p, span, div, label, input, textarea, button, li, a {
// 		&.text-xxs 			{ font-size: $font-size-xxs; }
// 		&.text-xs 			{ font-size: $font-size-xs; }
// 		&.text-sm			{ font-size: $font-size-sm; }
// 		&.text-md			{ font-size: $font-size-md; }
// 		&.text-ml 			{ font-size: $font-size-ml; }
// 		&.text-lg 			{ font-size: $font-size-lg; }
// 		&.text-xl			{ font-size: $font-size-xl; }
// 		&.text-xxl 			{ font-size: $font-size-xxl; }
// 		&.text-xxxl 		{ font-size: $font-size-xxxl; }
// 	
// 		&.text-white		{ color: $color-white; }
// 		&.text-lighter		{ color: $color-grey-e; }
// 		&.text-light		{ color: $color-grey-g; }
// 	
// 		&.text-dark			{ color: $color-grey-i; }
// 		&.text-darker		{ color: $color-grey-k; }
// 		&.text-black		{ color: $color-black; }
// 	
// 		&.text-purple		{ color: $color-primary; }
// 		&.text-blue			{ color: $color-secondary-blue; }
// 		&.text-skyblue		{ color: $color-secondary-skyblue; }
// 		&.text-orange		{ color: $color-secondary-orange; }
// 		&.text-red			{ color: $color-secondary-red; }
// 		&.text-lime			{ color: $color-secondary-lime; }
// 	}
// 	
// 	h1, h2, h3, h4, h5, h6 {
// 		color: $color-grey-k;
// 		line-height: $line-height-ex-narrow;
// 		font-weight: $font-weight-bold;
// 		margin: 0;
// 		padding: 0.05em 0 0.5em 0;
// 	}
// 	
// 	h1 {
// 		@include responsive-font(2.80vw, 34px, 54px);
// 	}
// 	h2 {
// 		@include responsive-font(1.75vw, 28px, 34px);
// 	}
// 	h3 {
// 		@include responsive-font(1.50vw, 20px, 28px);
// 	}
// 	h4 {
// 		@include responsive-font(1.25vw, 16px, 24px);
// 	}
// 	
// 	p, span {
// 		&.text-xxl {
// 			@include responsive-font(1.6vw, 16px, 24px);
// 		}
// 		&.text-xl {
// 			@include responsive-font(1.25vw, 16px, 18px);
// 		}
// 		&.text-upper {
// 			text-transform: uppercase;
// 		}
// 		&.text-lower {
// 			text-transform: none;
// 		}
// 	}